@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');


*{
    margin: 0 auto;
    padding: 0;
    /* outline: 1px red solid; USED TO GUIDE ME :P */
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

header {
    height: 500px;
    background-image: url("../images/apple-pie.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color:white;
    font-weight: 100;
    font-size: 3.5rem; 
    font-weight: 400;      
}

main{
    font-weight: 500;
}
#recipe-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-info p{
    text-align: center;
    font-size: 1.1rem;
}

#recipe-info img{
    width: 400px;
    margin-top: 35px;

}

main section{
    padding: 2rem;
}

#ingridients-list ul{
    list-style-type: "- ";
    margin-left: 25px;
    line-height: 1.5rem;
    
}

#ingridients-list img{
    width: 350px;
    display: flex;
    justify-self: center;
    margin-top: 35px;
}

#directions ol{
    list-style: none;
    text-align: justify;
    padding: 10px 0 0 16px;
    line-height: 1.4rem;

}